/* TAB */
@media screen and (min-width:768px) {

	.burger-button,
	.mobile-menu {
		display: none;
	}

	.container {
		max-width: 768px;
		padding: 0 32px;
	}

	.logo {
		font-size: 20px;
	}

	.header-nav {
		display: flex;
		align-items: center;
		max-width: 768px;
		max-height: 48px;
	}

	.header-menu {
		display: flex;
		gap: 4px;
		align-items: center;
		justify-content: center;
	}

	.harder-menu-item {}

	.header-menu-link {
		display: block;
		border-radius: 8px;
		min-width: 91px;
		padding: 15px 24px;
		background-color: var(--button-color);
		font-weight: 400;
		font-size: 9px;
		line-height: 130%;
		text-transform: uppercase;
		text-align: center;
		color: var(--white-color);
	}

	.header-menu-link:hover,
	.header-menu-link:focus,
	.header-menu-link:active {
		background-color: var(--secondary-color);
	}

	.menu-social-list {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		margin: 0;
	}

	.menu-social-list-itm {}

	.menu-social-link {}

	.menu-social-icon {
		fill: var(--secondary-color);
	}

	.menu-social-link:hover .menu-social-icon,
	.menu-social-link:focus .menu-social-icon {
		fill: var(--main-color);
	}

	/* advantages */
	.advantages .container {
		gap: 32px;
	}

	.advantages-content {
		padding: 90px 32px;
	}

	.advantages-content-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 44px;
		column-gap: 32px;
	}

	.advantages-content-item {
		flex-basis: calc((100% - 32px) / 2);
	}

	.advantages-text {
		max-width: 220px;
	}

	.advantages-content-item:nth-child(3) .advantages-text {
		max-width: 285px;
	}

	.advantages-content-item:nth-child(4) .advantages-text {
		max-width: 276px;
	}
}

@media screen and (min-width: 1280px) {

	.container {
		max-width: 1280px;
		padding: 0 50px;
	}

	.advantages .container {
		flex-direction: row;
	}

	.advantages-content {
		max-width: 652px;
		height: 244px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		max-width: 1440px;
		padding: 0 100px;
	}

	.advantages-content {
		max-width: 704px;
		/*768-32-32*/
	}

	.advantages-img-block {
		min-width: 540px;
	}
}